<!DOCTYPE html>
<html>
<head>
  <title>Geneset</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Geneset</a></h3>
          <ul class="nav">
            <li class="active"><%= link_to "Home", root_url %></li>
          </ul>
          <form action="">
            <input type="text" placeholder="Search" />
          </form>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div><!-- /topbar-wrapper -->

<%= yield %>

</body>
</html>
